[user]
	email = mandrikov@pm.me
	name = Alexander Mandrikov
	signingkey = 98ED0EF3B8D86FCDB69028CAF9B2EF911C19E68C

[core]
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = master

[commit]
	gpgsign = true
