[submodule "user/zsh/.zsh/plugins/zsh-completions"]
	path = user/zsh/.zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "user/zsh/.zsh/plugins/zsh-autosuggestions"]
	path = user/zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "user/zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = user/zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "user/zsh/.zsh/plugins/fast-syntax-highlighting"]
	path = user/zsh/.zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "user/zsh/.zsh/plugins/zsh-history-substring-search"]
	path = user/zsh/.zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
